apscheduler
google-api-python-client
httplib2
oauth2client
lxml
requests
six
pyserial
matplotlib
numpy
tensorflow
escpos
beautifulsoup4
validators
pydle>=0.9.0
pyusb
pillow
qrcode
pyserial
viivakoodi
